/* Color Palette #3652
        White #f6f7f9
        Beige: #e1b667
        Cinnamon: #c98944
        Brown: #5e3425
        Dark Black: #1d0c04
*/


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Utilities */

.accessible-hidden {
    position: absolute;
    top: 0;
    left: -999px;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}


/* general page formatting */

body {
    font-family: sans-serif;
    background-color: #f6f7f9;
    font-family: 'Amiko', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #1d0c04;
}